body {
    background-color: hsl(241, 38%, 28%);;
}

h2{
    color: rgb(184, 187, 13);
    background-color: rgb(122, 7, 7);
    padding-left: 3vh;
    border-radius: 10px;
    padding-block: 10px;
}

p{
    background-color: rgb(185, 195, 206);
    border-radius: 10px;
    padding-left: 10px;
    padding: 10px;
    padding-block: 10px;
    font-size: large;
}

.logo {
    font-size: 25px;
    font-weight: bolder;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(122, 7, 7);
    padding: 15px;
    color: rgb(184, 187, 13);
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 10px;
}

.nav-links a{
    color: rgb(184, 187, 13);
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: rgb(38, 7, 122);
    border-radius: 50px;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: rgb(184, 187, 13);
}

#menu-toogle{
    display: none;
}

@media(max-width: 600px){
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: hsl(0, 89%, 25%);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.menu-icon {
    display: block;
}

#menu-toogle:checked + .menu-icon + .nav-links {
    display: flex;
}